:host {
  --blue: #263b64;
  --azzurro: #00a1d2;
  --v_acqua: #65c3d2;
  --ceruleo: #669cd2;

  display: block; /* Assicurati che il contenitore prenda spazio */
  background-image: url('./../../../assets/images/sfondo_scannerqrcode.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Imposta l'altezza al 100% della finestra */
}

.pgTimbratura {
  text-align: center
}

.scanQRCode {
  justify-items: center;
  margin: 3rem;
}

.reader {
  width: 600px;
  height: 450px;

  aspect-ratio: 16 / 9; /* Mantieni un rapporto di aspetto 16:9 */
  margin: 0 auto; /* Centra il reader */
}

.disabled {
  opacity: 0.5; /* Opacità ridotta per il contenitore disabilitato */
  pointer-events: none; /* Disabilita gli eventi del mouse */
}

.set-timbratura {
  padding: 20px;
  margin-top: 2rem;
}

.set-timbratura h3 {
  color: var(--blue); /* Colore blu per il titolo */
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Spazio tra i pulsanti */
}

.timbratura-btn {
  background-color: var(--blue); /* Blu */
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.timbratura-btn:hover {
  background-color: var(--blue); /* Blu scuro al passaggio del mouse */
  transform: scale(1.05); /* Leggero ingrandimento al passaggio del mouse */
}

.entrata {
  background-color: var(--v_acqua); /* Verde per il pulsante Entrata */
}

.uscita {
  background-color: var(--ceruleo); /* Rosso per il pulsante Uscita */
}

.timbratura-btn.selected {
  /* border: 2px solid var(--blue); */ /* Cambia il colore del bordo per indicare selezione */
  box-shadow: 0 0 10px var(--blue); /* Aggiungi un'ombra per evidenziare la selezione */
}

@media only screen and (max-width: 1280px) {
  :host {
    background-size: 1280px 540px; /* Imposta le dimensioni specifiche per l'immagine di sfondo */
    width: 1280px; /* Imposta la larghezza del contenitore */
    height: 540px; /* Imposta l'altezza del contenitore */
  }

  .set-timbratura {
    padding: 20px;
    margin-top: 0;
    max-width: 1280px; /* Limita la larghezza massima del contenitore */
    margin-left: auto; /* Centra orizzontalmente */
    margin-right: auto; /* Centra orizzontalmente */
    max-width: 100%; /* Permette al contenitore di adattarsi alla larghezza dello schermo */
    padding: 10px; /* Riduce il padding per dispositivi più piccoli */
  }

  .scanQRCode {
    margin: 0;
  }

  .reader {
    height: 350px;
    width: 500px;
    width: 590px;
  }

  #qr-shaded-region{

  }

  :host ::ng-deep video {
    height: inherit;
  }
  

}



