<div 
    id="pgTimbratura"
    class="pgTimbratura"
>
    <h1>Timbratura con QR Code</h1>

    <div 
        id="scanQRCode"
        class="scanQRCode"
    >
        <div
            id="reader"
            class="reader"
            [class.disabled]="!buttonSelected"
        ></div> <!-- immagine ripresa dalla telecamera -->
    </div>

    <div 
        *ngIf="!user" 
        id="setTimbratura" 
        class="set-timbratura"
    >
      <h3>Per avviare la scansione selezionare il tipo di timbratura</h3>
      <div class="button-container">
          <button id="entrataBtn" class="timbratura-btn entrata" [class.selected]="selectedButton === 'entrata'" (click)="setTimbratura('entrata')">Entrata</button>
          <button id="uscitaBtn" class="timbratura-btn uscita" [class.selected]="selectedButton === 'uscita'" (click)="setTimbratura('uscita')">Uscita</button>
          <button id="pausaBtn" class="timbratura-btn pausa" [class.selected]="selectedButton === 'pausa'" (click)="setTimbratura('pausa')">Pausa</button>
      </div>
    </div>

    
    <div 
        *ngIf="user"
        id="user" 
    >
        <h3>Dati scansionati:</h3>
        <p ><b>Ciao</b> {{ user.nome }} {{ user.cognome }}</p>
        <p>{{ scannedData?.ora }} {{ scannedData?.data }}</p>
        <p><b>{{ scannedData?.entrataUscita ?? '' | capitalize }}</b></p>
    </div>

    <div 
        id="message" 
        *ngIf="message"
    >
        <p>{{message}}</p>
    </div>
</div>
